<!DOCTYPE HTML>
<!--
	
-->
<html>
	<head>
		<title>Smart Lie Detector📈 : About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">

				
<a class="logo" href="/">Smart Lie Detector📈</a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">시작화면🚩</a></li>
					<li><a href="/result">결과값 리스트 보기📄</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>대하여..🙇</h1>
			</div>
<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>개발자</h2>
						<p>선문대학교 4학년 졸업작품입니다.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>배고파 ㄹㅇㅋㅋ.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic01.jpg') }}">
									</div>
									<p class="credit">- <strong>최재은</strong> <span>팀장.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>이잉 기모링~</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic02.jpg') }}">
									</div>
									<p class="credit">- <strong>김건주</strong> <span>팀원1</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>그런건 없어용~</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic03.jpg') }}">
									</div>
									<p class="credit">- <strong>박규동</strong> <span>팀원2</span></p>
								</div>
							</div>
						</section>
<section>
							<div class="content">
								<blockquote>
									<p>코딩차이 딱대!</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/pic04.jpeg') }}">
									</div>
									<p class="credit">- <strong>박상우</strong> <span>팀원3</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>하면서 느낀점..</h2>
						</header>
						<p>기부니가 너무 좋다. </p>
						<p>언능 완성하고 싶다. </p>
						<hr />
						<h3>후원계좌</h3>
						<p></p>
						<p>국민 484602-04-197621</p>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>스마트 거짓말 탐지기 (SMART LIE DETECTOR)</h3>
							<p>선문대학교 컴퓨터공학부 4학년 졸업작품 "규건재상팀"</p>
						</section>
						
						<section>
							<h4>깃 허브</h4>
							<ul class="plain">
								
								<li><a href="https://github.com/2010psw/LieDetector"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Create by 규건재상.</a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

	</body>
</html>