<!DOCTYPE HTML>
<html>
	<head>
		<title>Smart Lie Detector📈 : About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/거짓말 탐지기.ico') }}">
	</head>
	<body class="is-preload">
		<!-- Header -->
		<header id="header">
			<a class="logo" href="/">Smart Lie Detector📈</a>
			<nav>
				<a href="#menu">메뉴</a>
			</nav>
		</header>
		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/">시작화면🚩</a></li>
			</ul>
		</nav>
		<!-- Heading -->
			<div id="heading" >
				<h1>대하여..🙇</h1>
			</div>
		<!-- Testimonials -->
		<section class="wrapper">
			<div class="inner">
				<header class="special">
					<h2>개발자🔧</h2>
					<p>선문대학교 4학년 졸업작품입니다.</p>
				</header>
				<div class="testimonials">
					<section>
						<div class="content">
							<blockquote>
								<p>논문 작성 및 팀원 회의 개최, <br>작품에 대한 문서작성.</p>
							</blockquote>
							<div class="author">
								<div class="image">
									<img src="{{ url_for('static', filename='images/재.png') }}">
								</div>
								<p class="credit">- <strong>최재은</strong> <span>팀장.</span></p>
							</div>
						</div>
					</section>
					<section>
						<div class="content">
								<blockquote>
									<p>HTML, CSS를 이용한 UI 설계 및 제작,<br> 파이썬과 제작한 HTML을 <br>플라스크로 연동.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/건.png') }}">
									</div>
									<p class="credit">- <strong>김건주</strong> <span>팀원1</span></p>
								</div>
							</div>
					</section>
					<section>
						<div class="content">
								<blockquote>
									<p>아두이노 최적화 및 기본 세팅, <br>아두이노와 파이썬 간의 연동.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/규.png') }}">
									</div>
									<p class="credit">- <strong>박규동</strong> <span>팀원2</span></p>
								</div>
							</div>
					</section>
					<section>
						<div class="content">
								<blockquote>
									<p>실시간 그래프와 아두이노와의 연동,<br> HTML과 그래프 값의 GET을 <br>이용한 연동,<br> 텐서플로우 RNN 알고리즘 활용,<br> DbeaverEE를 이용한 데이터<br>베이스 연동</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{{ url_for('static', filename='images/상.png') }}">
									</div>
									<p class="credit">- <strong>박상우</strong> <span>팀원3</span></p>
								</div>
							</div>
					</section>
				</div>
			</div>
		</section>
		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<div class="content">
					<header>
						<h2>히스토리🕒</h2>
					</header>
					<p> 1. 주제선정 완료.<br>
						2. 깃허브 개설.<br>
						3. 카카오 오븐을 이용한 기본 UI 프로토타입 설계.<br>
						4. 팀원 간 사용 프로그램 설치 및 통일화.<br>
						5. 아두이노 기본세팅.<br>6. 실제 UI HTML로 설계 및 디자인.<br>
						6. HTML을 플라스크를 이용한 파이썬과 연동.<br>
						7. 거짓말 탐지를 시각적으로 보여주는 그래프와 HTML UI와 연동. <br>
						8. 아두이노 센서값을 HTML로 받아오는데 성공.<br>
						9. Dbeaver를 이용한 파이썬 데이터베이스 구축.<br>
						10. 아두이노 센서값을 HTML 버튼 누를 시 그 값을 데이터베이스로 보내는데 성공.<br>
						11. RNN 알고리즘 구축.<br>
						12. 알고리즘에 필요한 실제 사용자 데이터를 추출.
					</p>
					<hr />
					<h3>사용된 프로그램💿</h3>
					<p>Python 3.7, Dbeaver 5.2.5, Flask, Arduino (Editor : PyCharm)</p>
					<p></p>
					</div>
			</div>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="content">
					<section>
						<h3>스마트 거짓말 탐지기 (SMART LIE DETECTOR)</h3>
						<p>선문대학교 컴퓨터공학부 4학년 졸업작품 "규건재상팀"</p>
					</section>
					<section>
						<h4>깃 허브</h4>
						<ul class="plain">
							<li>
								<a href="https://github.com/2010psw/LieDetector">
									<i class="icon fa-github">&nbsp;
									</i>Github
								</a>
							</li>
						</ul>
					</section>
				</div>
				<div class="copyright">
					&copy; Create by 규건재상.</a>
				</div>
			</div>
		</footer>
		<!-- Scripts -->
		<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
	</body>
</html>