<!DOCTYPE HTML>
<!--

-->
<html>

	<head>

		<title>Smart Lie Detector📈 : Start</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/거짓말 탐지기.ico') }}">

	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo"></a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/about">대하여..💬</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Smart Lie Detector</h1>
					<p>Smart Lie Detector에 오신 것을 환영합니다!<br />
					당신의 거짓말 유무와 심리상태를 알려드립니다.</p>
				</div>
				<video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper w3-animate-opacity">
				<div class="inner">
					<header class="special">
						<h2>일반적인 거짓말 탐지기아니야..?&nbsp;🤔</h2>
						<p>Smart Lie Detector는 다릅니다. 거짓말 탐지는 물론 정확한 결과값 출력을 위해 많은 센서를 통해 데이터를 뽑아내고, <br>
                                                                             RNN 알고리즘을 통해 다른 사람들의 데이터, 전에 검사한 기록들을 토대로 보다 정확한 심리상태와 불안상태, 생활패턴을 <br>추천해 드립니다. </p>

					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a class="icon fa-heartbeat"><span class="label">Icon</span></a>
									<h3>사용센서</h3>
								</header>
								<p> - 피부 전기저항 센서 : 전기적 피부반사를 이용한 미세한 변화 측정<br>
                                                                                                 - 심박수 센서 : 사용자의 심박을 이용하여 미세한 변화 측정<br>
                                                                                                 </p>

							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a class="icon fa-bar-chart"><span class="label">Icon</span></a>
									<h3>MYSQL을 이용한 DB</h3>
								</header>
								<p>데이터는 많을수록 정확한 결과값이 나올 확률이 높기에 사용자의 데이터를 확보하고 보다 정확한 결과값을<br> 요구합니다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a class="icon fa-braille"><span class="label">Icon</span></a>
									<h3>Python LSTM<br>알고리즘</h3>
								</header>
								<p>실시간으로 다수의 개인 데이터를 추출해 종합하여 평균값을 내고 효과적인 질문으로 머신러닝
을 통한 정확한 결과값을 도출합니다.</p>
							</div>
						</section>
						
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper" >
                                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
				<div class="inner">

					<div class="w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red w3-red">
                                              <h2 style="color: gray;'">시작하기 앞서..</h2>
<p>환경과 상황에 따라 값의 교차가 심합니다. 최대한 마음의 안식과 편안한 자세를 취하여 주세요.<br> 센서를 부착할 준비가 되었으면 '시작하기'버튼을 눌러주세요.</p>
                                              </div>
					

										
										
                             <a href="/main" class="button primary large">시작하기🚨</a>
                          
									
				</div>
			</section>

		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>스마트 거짓말 탐지기 (SMART LIE DETECTOR)</h3>
							<p>선문대학교 컴퓨터공학부 4학년 졸업작품 "규건재상팀"</p>
						</section>
						
						<section>
							<h4>깃 허브</h4>
							<ul class="plain">
								
								<li><a href="https://github.com/2010psw/LieDetector"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Create by 규건재상.</a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->

	<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

	</body>
</html>