<!DOCTYPE HTML>

<html>
	<head>
		<title>Smart Lie Detector📈 : Main</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				
<a class="logo">Smart Lie Detector📈</a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index">시작화면🚩</a></li>
					
					<li><a href="about.html">대하여..💬</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>거짓말 탐지하기〽</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							
<div class="col-8 col-12-medium">
								<!-- Text -->
<h1 style="color: red;'"font-size:large;>※ 센서를 착용 후 시작 해주세요!</h2>

									<h2 class="w3-panel w3-leftbar w3-border-red">ⅰ. 당신은 지금 어떠한 상태인가요?</h2>
									
									<p></p>
<p>사실만을 입력해주세요!</p>


								<!-- Lists -->
									<h3></h3>
<h3>간단검사 (10문항)</h3>

									
										
									
											
											<ol>


												<li>평소에 남 눈치를 잘 보는가?</li>
<!-- Break -->
											<div class="col-4 col-12-small">
												<input type="radio" id="1" name="a" >
												<label for="1">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="2" name="a">
												<label for="2">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="3" name="a">
												<label for="3">아니다.</label>
											</div>
												<li>평소에 화를 잘 내는가?</li>
                                                                                                                                    <div class="col-4 col-12-small">
												<input type="radio" id="4" name="b">
												<label for="4">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="5" name="b">
												<label for="5">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="6" name="b">
												<label for="6">아니다.</label>
											</div>
												<li>감정조절이 자신의 의지만으로 가능한가?.</li>
<div class="col-4 col-12-small">
												<input type="radio" id="7" name="c" >
												<label for="7">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="8" name="c">
												<label for="8">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="9" name="c">
												<label for="9">아니다.</label>
											</div>

												<li>손에 평소 땀이 많은가?</li>
<div class="col-4 col-12-small">
												<input type="radio" id="10" name="d" >
												<label for="10">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="11" name="d">
												<label for="11">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="12" name="d">
												<label for="12">아니다.</label>
											</div>

												<li>사랑에 금방 빠지는 가?.</li>
<div class="col-4 col-12-small">
												<input type="radio" id="13" name="e" >
												<label for="13">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="14" name="e">
												<label for="14">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="15" name="e">
												<label for="15">아니다.</label>
											</div>

												<li>당신은 남자인가?</li>
<div class="col-4 col-12-small">
												<input type="radio" id="16" name="f" >
												<label for="16">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="17" name="f">
												<label for="17">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="18" name="f">
												<label for="18">아니다.</label>
											</div>

												<li>당신은 여자인가?</li>
<div class="col-4 col-12-small">
												<input type="radio" id="19" name="g" >
												<label for="19">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="20" name="g">
												<label for="20">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="21" name="g">
												<label for="21">아니다.</label>
											</div>

												<li>아빠가 좋은가? 엄마가 좋은가?</li>
<div class="col-4 col-12-small">
												<input type="radio" id="22" name="h" >
												<label for="22">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="23" name="h">
												<label for="23">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="24" name="h">
												<label for="24">아니다.</label>
											</div>

												<li>가끔 죽고싶다는 생각을 하는가?</li>
<div class="col-4 col-12-small">
												<input type="radio" id="25" name="i" >
												<label for="25">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="26" name="i">
												<label for="26">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="27" name="i">
												<label for="27">아니다.</label>
											</div>

												<li>당신은 인간인가?</li>
<div class="col-4 col-12-small">
												<input type="radio" id="28" name="j" >
												<label for="28">그렇다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="29" name="j">
												<label for="29">애매하다.</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="30" name="j">
												<label for="30">아니다.</label>
											</div>

											</ol>
										</div>
									</div>
<h2 class="w3-panel w3-leftbar w3-border-red">ⅱ. 간단한 심호흡을 10초간 해주세요!</h2>
<h2 class="w3-panel w3-leftbar w3-border-red">ⅲ. 이제 제가 질문을 드릴겁니다. 묻는 질문에 답변해주세요!</h2>
									<h2 class="w3-panel w3-leftbar w3-border-red">ⅳ. 그래프 값</h2>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="plotly.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    
   
    <div class="wrapper">
        <div id="chart"></div>
        <script>
            function getData() {
                return Math.random();
            }  
            Plotly.plot('chart',[{
                y:[getData()],
                type:'line'
            }]);
            
            var cnt = 0;
            setInterval(function(){
                Plotly.extendTraces('chart',{ y:[[getData()]]}, [0]);
                cnt++;
                if(cnt > 500) {
                    Plotly.relayout('chart',{
                        xaxis: {
                            range: [cnt-500,cnt]
                        }
                    });
                }
            },15);
        </script>
    </div>

			<h2 class="w3-panel w3-leftbar w3-border-red">ⅴ. 테이블 값</h2>					

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">



  <table class="w3-table-all">
    <tr>

      <th>측정 일</th>
      <th>거짓말 농도</th>
      <th>심리</th>
      <th>측정값</th>
    </tr>
    <tr>
      <td>2020-04-02</td>
      <td>60%</td>
      <td>매우양호</td>
<td>75.5</td>
    </tr>
    <tr>
      <td>2020-04-04</td>
      <td>80%</td>
      <td>불안</td>
<td>95.7</td>
    </tr>
    <tr>
      <td>2020-04-15</td>
      <td>70%</td>
      <td>양호</td>
<td>60.4</td>
    </tr>
<tr>
      <td>2020-04-21</td>
      <td>50%</td>
      <td>양호</td>
<td>80.8</td>
    </tr>
<tr>
      <td>2020-04-22</td>
      <td>30%</td>
      <td>불안</td>
<td>55.5</td>
    </tr>
   
  </table>
</div>

</body>
</html>


	
	</code></pre>

							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>스마트 거짓말 탐지기 (SMART LIE DETECTOR)</h3>
							<p>선문대학교 컴퓨터공학부 4학년 졸업작품 "규건재상팀"</p>
						</section>
						
						<section>
							<h4>깃 허브</h4>
							<ul class="plain">
								
								<li><a href="https://github.com/2010psw/LieDetector"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>