<!DOCTYPE HTML>

<html>
	<head>
		<title>Smart Lie Detector📈 : 머신러닝</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jqbar.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/거짓말 탐지기.ico') }}">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				
<a class="logo" href="/">Smart Lie Detector📈</a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">시작화면🚩</a></li>
					
					<li><a href="/about">대하여..💬</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>LSTM 알고리즘 적용➰</h1>
			</div>

		<!-- Main -->
			<section id="result" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							
<div class="col-8 col-12-medium">
								<!-- Text -->

</div>
									</div>
<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h1 class="w3-center w3-animate-zoom">LSTM 머신러닝이 적용되었습니다!</h1>
						<p></p>
<div class="w3-container w3-center">
<a href="/result" class="button icon fa-bar-chart w3-animate-zoom" style="margin-bottom : 100px">결과값 보기</a>&nbsp;&nbsp;</div>
					</header>







	
	</code></pre>

							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>스마트 거짓말 탐지기 (SMART LIE DETECTOR)</h3>
							<p>선문대학교 컴퓨터공학부 4학년 졸업작품 "규건재상팀"</p>
						</section>
						
						<section>
							<h4>깃 허브</h4>
							<ul class="plain">
								
								<li><a href="https://github.com/2010psw/LieDetector"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Create by 규건재상.</a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->

    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/exporting.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/highcharts.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jqbar.js') }}"></script>


	</body>
</html>