<!DOCTYPE HTML>

<html>
	<head>
		<title>실험실</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/거짓말 탐지기.ico') }}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">

<a class="logo" href="/">그래프 실험실</a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">시작화면🚩</a></li>
					<li><a href="/result">결과값 리스트 보기📄</a></li>
					<li><a href="/about">대하여..💬</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>거짓말 탐지하기📉</h1>
			</div>

		<!-- Main -->
			<section id="result" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">

<div class="col-8 col-12-medium">
								<!-- Text -->

</div>
									</div>
									<h2 class="w3-panel w3-leftbar w3-border-red">ⅰ. 심박수 그래프 값💓</h2>

						<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
<script type="text/javascript">
$(function () {
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        var chart;
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'spline',
                marginRight: 10,
                events: {
                    load: function() {


                        var series = this.series[0];
                        setInterval(function() {
                            var x = (new Date()).getTime(),
                                y = rqdata.gsr;
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },
            title: {
                text: ' 실험 심박상태입니다.'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 100
            },
            yAxis: {
                title: {
                    text: 'Heart rate'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#e32222'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function() {
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i++) {
                        data.push({
                            x: time + i * 500 + 1,
                            y: Math.random()
                        });
                    }

                    return data;
                })()

            }]
        });
    });

});

</script>





  <style>
    .box {
      width: 500px;
      min-height: 30px;
      height: auto;
      border: 1px solid black;
    }
  </style>
  <script>





	setInterval(function(){
		var btn = document.querySelector('button');

        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
          if(xhr.readyState === 4 && xhr.status === 200) {
             rqdata = JSON.parse(xhr.responseText);
             console.log('gsr = ' + rqdata.gsr);
             console.log('hrt = ' + rqdata.hrt);
             setrq(rqdata,JSON.parse(xhr.responseText))
          }
        }
        xhr.open('GET', '/request_data', true);
        xhr.send(null);
	}, 1000)

     var rqdata = null;
     function setrq(data1,data2){
  		data1 = data2;
  		}



    window.onload=function() {
      var btn = document.querySelector('button');

      btn.addEventListener('click', function() {

            var box = document.querySelector('.box');
             var a = rqdata;
            box.innerHTML = a.gsr;



      });
    }
  </script>

<body>
  <div class="box">

  </div>
  <button>램덤!</button>
</body>
</html>




<body>



<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

</body>





	</code></pre>

							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>스마트 거짓말 탐지기 (SMART LIE DETECTOR)</h3>
							<p>선문대학교 컴퓨터공학부 4학년 졸업작품 "규건재상팀"</p>
						</section>

						<section>
							<h4>깃 허브</h4>
							<ul class="plain">

								<li><a href="https://github.com/2010psw/LieDetector"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Create by 규건재상.</a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->

    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/exporting.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/highcharts.js') }}"></script>


	</body>
</html>